.mainImg{text-align: center;}
.mainImg img{max-width: 80%;}
.demos-title{color: #04BE02;padding-top: 15px;padding-bottom: 15px;text-align: center;}
.weui-footer{padding-top: 20px;}
.weui-select,.weui-input{font-size: 14px;color: #000;}
.weui-cells_radio p{font-size: 14px;}
.borderBt{border-bottom: 10px #ddd solid;}
.weui-label{font-size: 14px;color: #999;}
.maNoT{margin-top: 0px;}